body {
  margin: 0;
}

#three-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
}

.loading-text {
  margin-top: 10px;
}

#three-canvas {
  display: none; /* 로딩 중에는 canvas를 숨깁니다. */
}

#fullScreenText {
  position: fixed;
  top: 50%; /* 화면 세로 중앙에 위치 */
  left: 50%; /* 화면 가로 중앙에 위치 */
  transform: translate(-50%, -50%); /* 가운데 정렬 */
  background-color: rgba(0, 0, 0, 0.5); /* 배경색을 반투명하게 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fullScreenText span {
  display: inline-block; /* 한 줄에 나타나도록 설정 */
  color: red;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInText 1s forwards; /* 텍스트가 서서히 나타나도록 애니메이션 적용 */
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#loading-image-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-image {
  max-width: 80vw; /* 화면 너비의 30%를 최대 너비로 설정합니다. */
  max-height: 80vh; /* 화면 높이의 30%를 최대 높이로 설정합니다. */
  width: auto; /* 너비를 자동으로 설정합니다. */
  height: auto; /* 높이를 자동으로 설정합니다. */
}
